clip==0.2.0
deep_translator==1.11.4
faiss-cpu
Flask==3.0.3
matplotlib==3.9.2
numpy==2.1.1
opencv_python_headless==4.10.0.84
pandas==2.2.2
Pillow==10.4.0
qdrant_client==1.11.1
scenedetect==0.6.4
torch==2.4.0
