<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <!--header-->
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="w-16 h-16 rounded-full" src = "{{url_for('static', filename='assets/aiclogo2024.jpg')}}">
                <span class="ml-3 text-xl">HCMC AI Challenge 2024</span>
              </a>
              <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900">First Link</a>
                <a class="mr-5 hover:text-gray-900">Second Link</a>
                <a class="mr-5 hover:text-gray-900">Third Link</a>
                <a class="mr-5 hover:text-gray-900">Fourth Link</a>
              </nav>
              <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
            </div>
          </header>
          <!--Main Content-->
          <main>
            <section class="text-gray-600 body-font relative">
                <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
                    
                  <!--Input query-->
                  <div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0 m-8">
                    <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Câu truy vấn</h2>
                    <p class="leading-relaxed mb-5 text-gray-600">Vui lòng nhập một câu mô tả</p>
                    <div class="relative mb-4">
                      <label for="query_data" class="leading-7 text-sm text-gray-600">Câu truy vấn</label>
                      <textarea id="query_data" name="query_data" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                    </div>
                    <div class="relative mb-4">
                            <label for="price-range" class="leading-7 text-sm text-gray-600">Số lượng kết quả truy vấn</label>
                            <div class="w-full flex">
                            <div class="w-3/5 mr-4">
                                <input type="range" id="quantity-range" class="w-full mr-4 accent-indigo-600" min="5" max="100" value="10" oninput="update_quantity(this.value)">
                                <div class="flex justify-between text-gray-500">
                                <span id="min_quantity">10</span>
                                <span id="max_quantity">100</span>
                                </div>
                            </div>
                                <div class="flex w-2/5 h-8">
                                <p class="content-center">Số lượng: </p>
                                <input type="text" id="retrieval_result_quantity" class="w-2/5 input input-bordered content-center ml-2 border-b-2 border-black" value="10" onchange="update_quantity(this.value)"/>
                                </div>
                            </div>
                    </div>
                    <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" onclick="data_retrieval()">Truy vấn</button>
                  </div>

                  <!--Display query-->
                  <div id="display_result" class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg min-h-[32rem] max-h-screen h-fit overflow-y-scroll overflow-x-hidden p-10 flex-row items-end justify-start relative">

                  </div>

                </div>
              </section>
          </main>

          <!--Footer-->
          <footer class="text-gray-600 body-font">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
              <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Tailblocks</span>
              </a>
              <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Tailblocks —
                <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@knyttneve</a>
              </p>
              
            </div>
          </footer>
    </body>
    <script>
        function update_quantity(value) {
          document.getElementById("retrieval_result_quantity").value = value;
          document.getElementById("quantity-range").value = value;
        }
    </script>
    <script>
      function data_retrieval(){
        let query = $('#query_data').val();
        let k = $('#retrieval_result_quantity').val()
        // console.log(query, k)
      $.ajax({
                type : 'POST',
                url : "/video_retrieval",
                data: {"query":query, 'k': k},
                success: function(data, textStatus, jqXHR){
                    data.forEach(ele => {
                      element = JSON.parse(ele)
                      console.log(element)
                      $('#display_result').append(`
                      <div class="mb-8 flex lg:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="team" class="w-3/4 flex-shrink-0 rounded-lg max-w-128 max-h-72 object-cover object-center sm:mb-0 mb-4" src="data:image/png;base64,${element.Image}">
                        <div class="flex-grow sm:pl-8 sm:w-full w-1/4">
                          <h2 class="title-font font-medium text-gray-900 mb-3">Video: ${element.Video}</h2>
                          <h3 class="title-font font-medium text-gray-600 mb-3">Frame ID: ${element.Frame_id}</h3>
                          <h3 class="title-font font-medium text-gray-600 mb-3">Kết quả Q&A : ${element.qa}</h3>          
                        </div>
                      </div>
                      `)
                    });
                    // $("#abcd").attr("src","data:image/png;base64,"+data)
                }
                });
              }
    </script>
</html>